<div class="post">
    <h2 class="head"> {{title}} </h2>
    <div class="info">
        <img src="" class="image">
        <p class="text"> {{content}} </p>
        <p class="upvotes">
            {{upvotes}}
        </p>
        <p class="author">
            {{author}}
        </p>
        <p class="date">
            {{date}}
        </p>
    </div>
</div>